<app-menu-admin></app-menu-admin>

<!--Página Principal-->
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/admin"></ion-back-button>
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Plantas</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-button id="addPlantButton" expand="block" [routerLink]="['/admin/productos/agregar-planta']">Agregar
      planta</ion-button>
    <ion-list>
      <ion-item *ngFor="let p of plantas">
        <ion-thumbnail slot="start">
          <img alt="{{p.nombrePlanta}}"
            src="{{p.imagen}}"/>
        </ion-thumbnail>
        <ion-label>
          <h2>{{p.nombrePlanta}}</h2>
          <div class="detalles-texto">
            <p>{{p.descripcion}}</p>
          </div>
        </ion-label>
        <ion-button [routerLink]="['editar-planta/',p.id]" shape="round" color="warning"><ion-icon name="create"></ion-icon></ion-button>
        <ion-button (click)="delete(p.id)" shape="round" color="danger"><ion-icon name="trash"></ion-icon></ion-button> 
        
      </ion-item>
    </ion-list>
  </ion-content>
</div>