<app-menu-admin></app-menu-admin>

<!--Página Principal-->
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/admin"></ion-back-button>
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Plantas</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterPlantas()" placeholder="Buscar"></ion-searchbar>
    <ion-list>
      <ion-item *ngFor="let p of filteredPlantas">
        <ion-thumbnail slot="start">
          <img alt="{{p.nombrePlanta}}" [src]="p.imagen"/>
        </ion-thumbnail>
        <div class="detalles-texto">
            <h1>{{p.nombrePlanta}}</h1>
            <p>{{p.descripcion}}</p>
          </div>
        <ion-button [routerLink]="['editar-planta/',p.id]" shape="round" color="warning"><ion-icon name="create"></ion-icon></ion-button>
        <ion-button (click)="deletePlanta(p.id)" shape="round" color="danger"><ion-icon name="trash"></ion-icon></ion-button> 
      </ion-item>
    </ion-list>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button [routerLink]="['/admin/productos/agregar-planta']">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>
</div>