<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Agregar Planta</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="admin/productos"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="plantaForm" (ngSubmit)="onFormSubmit()">
    <ion-item>
      <ion-label position="floating">Nombre de la planta</ion-label>
      <ion-input type="text" [(ngModel)]="planta.nombrePlanta" formControlName="nombrePlanta"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nombre Científico</ion-label>
      <ion-input type="text" [(ngModel)]="planta.nombreCientifico" formControlName="nombreCientifico"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Categoría</ion-label>
      <ion-select [(ngModel)]="planta.categoria" formControlName="categoria">
        <ion-select-option *ngFor="let categoria of categorias" [value]="categoria.id">{{ categoria.nombre }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Precio</ion-label>
      <ion-input type="number" [(ngModel)]="planta.precio" formControlName="precio"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Stock</ion-label>
      <ion-input type="number" [(ngModel)]="planta.stock" formControlName="stock"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Imagen</ion-label>
      <ion-button (click)="tomarImagen()" slot="end" fill="clear">
        <ion-icon name="camera"></ion-icon> Tomar foto
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-input type="text" [(ngModel)]="planta.descripcion" formControlName="descripcion"></ion-input>
    </ion-item>
    <ion-button type="submit" expand="block" [disabled]="!plantaForm.valid">Agregar Planta</ion-button>
  </form>
  <ion-avat>
    <img [src]="plantaForm.value['imagen']" *ngIf="plantaForm.value['imagen']" />
  </ion-avat>
</ion-content>