<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{categoria.nombre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="categoriaForm" (ngSubmit)="onFormSubmit()">
    <ion-item>
      <ion-label position="floating">Nombre de categoria</ion-label>
      <ion-input type="text" [(ngModel)]="categoria.nombre" formControlName="nombre" maxlength="15"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-input type="text" [(ngModel)]="categoria.descripcion" formControlName="descripcion" maxlenght="50"></ion-input>
    </ion-item>
    <ion-button type="submit" shape="round" color="primary" expand="block" [disabled]="!categoriaForm.valid">
      <ion-icon name="add" slot="start"></ion-icon>
      Actualizar Categoria
    </ion-button>
  </form>
</ion-content>