<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <form [formGroup]="form" (ngSubmit)="login()" (keypress.enter)="login()">
        <app-custom-input autocomplete="email" icon="mail-outline" [control]="form.controls.email" type="email" label="Correo"></app-custom-input>
        <app-custom-input autocomplete="password" icon="lock-closed-outline" [control]="form.controls.password" type="password" label="Contraseña"></app-custom-input>

        <p routerLink="/rcontra">¿Olvidaste tu contraseña?</p>
        <ion-button expand="block" type="submit" [disabled]="form.invalid">Iniciar sesión</ion-button>
        <ion-button expand="block" fill="clear" routerLink="/registro">Registrarse</ion-button>
      </form>
      

    </ion-card-content>
  </ion-card>
</ion-content>