
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Registro</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="form" (ngSubmit)="registro()" (keypress.enter)="registro()">
        <app-custom-input autocomplete="name" icon="person-outline" [control]="form.controls.name" type="text" label="Nombre"></app-custom-input>
        <app-custom-input autocomplete="email" icon="mail-outline" [control]="form.controls.email" type="email" label="Correo"></app-custom-input>
        <app-custom-input autocomplete="password" icon="lock-closed-outline" [control]="form.controls.password" type="password" label="Contraseña"></app-custom-input>
        <app-custom-input autocomplete="password" icon="lock-closed-outline" [control]="form.controls.confirmPassword" type="password" label="Confirmar contraseña"></app-custom-input>
        <ion-button expand="block" type="submit" [disabled]="form.invalid">Registrarse</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
