<app-menu-admin></app-menu-admin>

<!-- Página Principal -->
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/admin"></ion-back-button>
      </ion-buttons>
      <ion-title>Roles</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-button id="addRolButton" expand="block" [routerLink]="['/admin/usuarios/roles/agregar-rol']" class="add-rol-button">
      Agregar Rol
    </ion-button>
    <ion-list>
      <ion-item *ngFor="let r of roles" class="role-item">
        <ion-label>
          <h2>{{ r.nombre }}</h2>
        </ion-label>
        <ion-button [routerLink]="['/admin/usuarios/roles/editar-rol', r.id]" shape="round" color="warning" class="edit-button"> 
          <ion-icon name="create"></ion-icon>
        </ion-button>
        <ion-button (click)="deleteRol(r.id)" shape="round" color="danger" class="delete-button">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-content>
</div>