<app-menu-admin></app-menu-admin>

<!--Página Principal-->
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/admin"></ion-back-button>
      </ion-buttons>
      <ion-title>Roles</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-button id="addPlantButton" expand="block" [routerLink]="['/admin/usuarios/roles/agregar-rol']">Agregar
      Rol</ion-button>
    <ion-list>
      <ion-item>
        <ion-label>
          <h2>Admin</h2>
        </ion-label>
        <ion-button shape="round" color="warning"><ion-icon name="create"></ion-icon></ion-button>
        <ion-button shape="round" color="danger"><ion-icon name="trash"></ion-icon></ion-button>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Usuario</h2>
        </ion-label>
        <ion-button shape="round" color="warning"><ion-icon name="create"></ion-icon></ion-button>
        <ion-button shape="round" color="danger"><ion-icon name="trash"></ion-icon></ion-button>
      </ion-item>
    </ion-list>

  </ion-content>
</div>