<!--Página Principal-->
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Agregar Usuario</ion-title>
      <ion-buttons slot="end">
        <ion-back-button defaultHref="admin/usuarios"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <form [formGroup]="usuarioForm" (ngSubmit)="onFormSubmit()">
      <ion-item>
        <ion-label position="floating">Nombre de Usuario</ion-label>
        <ion-input type="text" formControlName="usuario" maxlength="20" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Correo</ion-label>
        <ion-input formControlName="correo" type="email" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input formControlName="contrasena" type="password" required></ion-input>
      </ion-item>
      <ion-item lines="full" class="ion-item-custom">
        <ion-label position="floating" class="ion-label-custom">Rol</ion-label>
        <ion-select formControlName="rol" interface="popover" class="ion-select-custom" placeholder="Escoja su rol"
          required>
          <ion-select-option disabled selected hidden>Escoja su rol</ion-select-option>
          <ion-select-option *ngFor="let rol of roles" [value]="rol.id">{{ rol.nombre }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-accordion-group>
        <!-- Sección de Datos Opcionales -->
        <ion-accordion value="datosOpcionales">
          <ion-item slot="header" class="accordion-header">
            <ion-label>Datos Opcionales</ion-label>
          </ion-item>
          <div slot="content">
            <ion-item>
              <ion-label position="floating">Nombres</ion-label>
              <ion-input formControlName="nombres"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Apellidos</ion-label>
              <ion-input formControlName="apellidos"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Edad</ion-label>
              <ion-input formControlName="edad" type="number"></ion-input>
            </ion-item>
          </div>
        </ion-accordion>
      </ion-accordion-group>

      <ion-button type="submit" shape="round" color="primary" expand="block" [disabled]="usuarioForm.invalid">
        Agregar Usuario
      </ion-button>
    </form>
  </ion-content>
</div>