<!--Página Principal-->
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Agregar Categoria</ion-title>
      <ion-buttons slot="end">
        <ion-back-button defaultHref="admin/productos/categoria"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <form [formGroup]="categoriaForm" (ngSubmit)="onFormSubmit(categoriaForm.value)">
      <ion-item>
        <ion-label position="floating">Nombre de categoria</ion-label>
        <ion-input type="text" [(ngModel)]="categoria.nombre" formControlName="cate_name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Descripción</ion-label>
        <ion-input type="text" [(ngModel)]="categoria.descripcion" formControlName="cate_desc"></ion-input>
      </ion-item>
        <ion-button type="submit" shape="round" color="primary" expand="block"
        [disabled]="!categoriaForm.valid">
        <ion-icon name="add" slot="start"></ion-icon>
          Agregar Categoria</ion-button>
    </form>
  </ion-content>
</div>