<!--Página Principal-->
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Agregar Rol</ion-title>
      <ion-buttons slot="end">
        <ion-back-button defaultHref="admin/productos/usuarios/roles"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-item>
      <ion-input label="Nombre del rol" labelPlacement="floating"></ion-input>
    </ion-item>
    <ion-item >
      <ion-textarea label="Permisos" labelPlacement="floating" [counter]="true" maxlength="100" style="margin-bottom: 6px;"></ion-textarea>
    </ion-item>
    <ion-button id="addCategoryButton" expand="block" (click)="presentAlert()" color="success">
      <ion-icon name="add" slot="start"></ion-icon>
      Agregar Rol
    </ion-button>
  </ion-content>
</div>