<!--Página Principal-->
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Agregar Rol</ion-title>
      <ion-buttons slot="end">
        <ion-back-button defaultHref="admin/productos/usuarios/roles"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <form [formGroup]="rolForm" (ngSubmit)="onFormSubmit(rolForm.value)">
      <ion-item>
        <ion-label position="floating">Nombre del rol</ion-label>
        <ion-input type="text" [(ngModel)]="rol.nombre" formControlName="nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Permisos</ion-label>
        <ion-input type="text" [(ngModel)]="rol.descripcion" formControlName="descripcion"></ion-input>
      </ion-item>
      <ion-button type="submit" shape="round" color="primary" expand="block" [disabled]="!rolForm.valid">
        Agregar Rol
      </ion-button>
    </form> 
  </ion-content>
</div>