<app-menu-admin></app-menu-admin>

<!--Página Principal-->
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Pedidos</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-card>
      <ion-item>
        <ion-label>Fecha</ion-label>
        <ion-label>Cliente</ion-label>
        <ion-label>Estado</ion-label>
        <ion-label>Total</ion-label>
      </ion-item>
    </ion-card>
  </ion-content>
</div>
