<div class="container">
  <h2>Test API Component</h2>
  <div class="form-container">
    <h3>Buscar Planta por ID:</h3>
    <form (submit)="onSubmit($event)">
      <div class="form-group">
        <label for="plantId">ID de la Planta:</label>
        <input type="number" id="plantId" [(ngModel)]="plantId" name="plantId" placeholder="Ingrese ID de la planta"
          required>
      </div>
      <button type="submit" class="btn">Buscar</button>
    </form>
  </div>
  <div class="response-container" *ngIf="getDataResponse">
    <h3>GET Data Response:</h3>
    <table class="data-table">
      <tr>
        <th>ID</th>
        <td>{{ getDataResponse.id }}</td>
      </tr>
      <tr>
        <th>Nombre Común</th>
        <td>{{ getDataResponse.common_name }}</td>
      </tr>
      <tr>
        <th>Nombre Científico</th>
        <td>{{ getDataResponse.scientific_name.join(', ') }}</td>
      </tr>
      <tr>
        <th>Otros Nombres</th>
        <td>{{ getDataResponse.other_name.join(', ') }}</td>
      </tr>
      <tr>
        <th>Ciclo</th>
        <td>{{ getDataResponse.cycle }}</td>
      </tr>
      <tr>
        <th>Familia</th>
        <td>{{ getDataResponse.family ? getDataResponse.family : 'No existe familia' }}</td> <!-- Es un "if" -->
      </tr>
      <tr>
        <th>Origen</th>
        <td>
          <span *ngIf="getDataResponse.origin.length <= 5">{{ getDataResponse.origin.join(', ') }}</span>
          <span *ngIf="getDataResponse.origin.length > 5">
            {{ getDataResponse.origin.slice(0, 5).join(', ') }}...
            <button (click)="showAllOrigins = !showAllOrigins" class="btn-link">
              {{ showAllOrigins ? 'Ver menos' : 'Ver más' }}
            </button>
            <span *ngIf="showAllOrigins">{{ getDataResponse.origin.slice(5).join(', ') }}</span>
          </span>
        </td>
      </tr>
    </table>
    <div class="image-container" *ngIf="getDataResponse.default_image">
      <h4>Imagen de la Planta:</h4>
      <img [src]="getDataResponse.default_image.medium_url" alt="Imagen de la Planta">
    </div>
  </div>
  <div class="species-list-container">
    <h3>Lista de Especies</h3>
    <ul>
      <li *ngFor="let species of speciesList">
        <img *ngIf="species.default_image" [src]="species.default_image.thumbnail" alt="{{ species.common_name }}">
        {{ species.common_name }} ({{ species.scientific_name.join(', ') }})
      </li>
    </ul>
    <div class="pagination">
      <button (click)="prevPage()" [disabled]="page === 1">Anterior</button>
      <span>Página {{ page }} de {{ totalPages }}</span>
      <button (click)="nextPage()" [disabled]="page === totalPages">Siguiente</button>
    </div>
  </div>
</div>