ion-toolbar {
  --background: var(--ion-color-primary);
}

ion-card {
  margin-top: 20%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

ion-card-title {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

ion-card-content {
  padding: 20px;
}

ion-item {
  margin-bottom: 15px;
}

ion-button {
  --border-radius: 20px;
}

.ion-padding {
  padding: 20px;
}
